<!DOCTYPE html>
<html ng-app="chatApp">

<body ng-controller="chatController">

<div>
	<p>Meine Chat App</p>
	<p><div id="chatMessages" ng-repeat="msg in messageData" style="width:400px;">{{msg}}</div>
	<p>Nachricht: <input type="text" id="chatText" ng-model="chatText"></p>
	<input type="button" id="btnSend" value="Send" ng-disabled="connected" />
	<br/>
	<br/>
	<input type="button" id="btnJoin" value="Join" ng-disabled="connected" />
</div>





<script src= "./jquery.js"></script>
<script src="http://dashboarddata.azurewebsites.net/scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="http://dashboarddata.azurewebsites.net/signalr/hubs"></script>
		
<script src= "./app.js"></script>
	
</body>
</html>
